<!-- 
<form action="/search" method="get">
  <input type="search" name="q" autofocus="" placeholder="Enter a movie title">
  <button name="button" value="search">Search</button>
</form> -->
<div class="search">
  <form action="/search" method="get" class="form-search">
    <div class="input-append">
      <input type="text" class="span2 search-query" name="q" autofocus="" placeholder="Enter a movie title">
      <button type="submit" value="search" class="btn">Search</button>
    </div>
  </form>
</div>